
body
{
	font-family: 'Open Sans', sans-serif;
}

#wrapper
{
	width: 100%;
	background: #175f05;
}

.navbar
{
	margin-bottom: 0px;
}

.navbar-side
{
	background: #175f05;
}

.navbar-side ul li:hover a
{
	color: #202020;
}

.navbar-side ul li
{
	border-bottom: 1px solid rgba(107, 120, 109, 0.19);
}

.navbar-side ul li a
{
	color: #fff;
	
}

#page-wrapper
{
	padding: 15px;
	background: #f3f3f3;
}

#page-inner
{
	padding: 15px;
	background: #fff;
}


/*desktop*/

@media(min-width: 768px)
{
	#page-wrapper
	{
		margin: 0 0 0 260px;
		padding: 15px;
		min-height: 1000px;
	}
	.navbar-side
	{
		width: 260px;
		position: absolute;
		z-index: 1;
		min-height: 1000px	
	}
}

input.hidden {
	position: absolute;
	left: -9999px;
}

#profile-image1 {
	cursor: pointer;
	
	width: 100px;
	height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	
